:root {
  --vp-c-brand-1: #ffa500;
  --vp-c-brand-2: #ffb733;
  --vp-c-brand-3: #ffc966;
  --vp-c-brand-soft: rgba(255, 165, 0, 0.14);
  --vp-c-brand-bg: #ffa500;
  --vp-c-brand-hover: #e69400;
  --vp-c-brand-active: #cc8400;
}

.dark {
  --vp-c-brand-1: #ffb733;
  --vp-c-brand-2: #ffc966;
  --vp-c-brand-3: #ffdb99;
  --vp-c-brand-soft: rgba(255, 165, 0, 0.18);
  --vp-c-brand-bg: #ffb733;
  --vp-c-brand-hover: #ffa500;
  --vp-c-brand-active: #e69400;
}
