:root {
  --vp-c-brand-1: #cc7a00;
  --vp-c-brand-2: #e68a00;
  --vp-c-brand-3: #ffa500;
  --vp-c-brand-soft: #ffa50024;
  --vp-c-brand-bg: var(--vp-c-brand-3);
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #ffc266;
  --vp-c-brand-2: #ffaf33;
  --vp-c-brand-3: #e68a00;
  --vp-c-brand-soft: #ffa5002e;
  --vp-c-brand-bg: var(--vp-c-brand-3);
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}
